<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/security
                http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter">
        <beans:property name="rolePrefix" value=""/>
    </beans:bean>

    <beans:bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>

    <http auto-config='true' use-expressions="true">
        <form-login
                login-page="/login"
                default-target-url="/welcome"
                authentication-failure-url="/login?error"
                password-parameter="password"
                username-parameter="login"
                login-processing-url="/login_check"
        />

        <logout logout-success-url="/login?logout" delete-cookies="JSESSIONID"/>

        <!--<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>-->
        <!--<intercept-url pattern="/dashboard/**" access="hasRole('USER')"/>-->
        <!--<intercept-url pattern="/students/**" access="hasRole('USER')"/>-->
        <!--<intercept-url pattern="/settings/**" access="hasRole('USER')"/>-->
        <!--<intercept-url pattern="/journal/**" access="hasRole('USER')"/>-->

        <session-management>
            <concurrency-control max-sessions="100" session-registry-alias="sessionRegistry"/>
        </session-management>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsService">
            <password-encoder hash="sha-256">
                <salt-source user-property="login"/>
            </password-encoder>
        </authentication-provider>
    </authentication-manager>

</beans:beans>